	<footer class="footer">
		<div class="footer-wrapper">
			<div class="footer-up-wrapper content">
				<a href="#" to="main-head" class="footer-up"></a>
			</div>
			<div class="content-form content">
				<h4 class="footer-form-head">SKONTAKTUJ SIĘ Z NAMI</h4>
				<form class="footer-form">
					<div class="footer-form-row">
						<input type="text" name="name" placeholder="Imię">
						<input type="email" name="email" placeholder="Adres e-mail">
					</div>
					<div class="footer-form-row">
						<input type="text" name="nazwisko" placeholder="Nazwisko">
						<input type="text" name="Wiadomosc" placeholder="Wiadomość">
					</div>
					<div class="footer-form-row footer-form-row-last">
						<input type="tel" name="Telefon" placeholder="Telefon">
					</div>
					<button type="submit" class="btn">WYŚLIJ WIADOMOŚĆ</button>
				</form>
			</div>
		</div>
		<div class="footer-wrapper-2">
			<div class="content">
				<div class="footer-contact-col">
					<p class="footer-contact-head">Metropolitan Investment S.A.</p>
					<a href="#" class="footer-contact-email">info@metropolitaninvestment.pl</a>
				</div>
				<div class="footer-contact-col footer-contact-col-2">
					<div class="footer-contact-row">
						<span class="footer-contact-city">Centrala Warszawa:</span>
						<span class="footer-contact-phone">+48 535 50 20 50</span>
					</div>
					<div class="footer-contact-row">
						<span class="footer-contact-city">Oddział Gdańsk:</span>
						<span class="footer-contact-phone">+48 535 80 80 40</span>
					</div>
					<div class="footer-contact-row">
						<span class="footer-contact-city">Oddział Poznań:</span>
						<span class="footer-contact-phone">+48 535 80 50 80</span>
					</div>
					<div class="footer-contact-row">
						<span class="footer-contact-city">Oddział Kraków:</span>
						<span class="footer-contact-phone">+48 535 50 70 70</span>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-wrapper-3">
			<div class="content">
				<p class="footer-copyright">
					© Copyright 2017 Metropolitan Investment S.A.
				</p>
				<p class="footer-madeby">
					Made by
				</p>
			</div>
		</div>
	</footer>

	<script src="../js/main.js" type="text/javascript"></script>	
</body>
</html>