	<footer class="footer">
		<div class="footer-wrapper">
			<div class="footer-up-wrapper content">
				<a href="#" to="scroll-head" class="footer-up"></a>
			</div>
			<div class="content-form content">
				<h4 class="footer-form-head">SKONTAKTUJ SIĘ Z NAMI</h4>
				<form class="footer-form">
					<div class="footer-form-row">
						<input type="text" name="name" placeholder="Imię">
						<input type="email" name="email" placeholder="Adres e-mail">
					</div>
					<div class="footer-form-row">
						<input type="text" name="nazwisko" placeholder="Nazwisko">
						<input type="text" name="Wiadomosc" placeholder="Wiadomość">
					</div>
					<div class="footer-form-row footer-form-row-last">
						<input type="tel" name="Telefon" placeholder="Telefon">
					</div>
					<button type="submit" class="btn">WYŚLIJ WIADOMOŚĆ</button>
				</form>
			</div>
		</div>
		<div class="footer-wrapper-2">
			<div class="content">
				<p>
					Sąd Rejonowy dla m. st. Warszawy, XII Wydział Gospodarczy Krajowego Rejestru Sądowego w Warszawie,
					<br>
					Kapitał zakładowy &ltdo uzupełnienia&gt
					<br>
					NIP: 7010564311 Regon: 364429706 KRS: 0000616710
				</p>
			</div>
		</div>
		<div class="footer-wrapper-3">
			<div class="content">
				<p class="footer-copyright">
					© Copyright 2017 Metropolitan Investment S.A.
				</p>
				<p class="footer-madeby">
					Made by
				</p>
			</div>
		</div>
	</footer>

	<script src="../js/main.js" type="text/javascript"></script>	
</body>
</html>