<!DOCTYPE html>
<html>
<head>
	<title>Metropolitan</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/main.css">
</head>
<body>

	<header class="header">
		<div class="header-wrapper">

			<div class="header-col-left">
				<div class="header-menu-btn">
					<div class="header-menu-btn-bar"></div>
					<div class="header-menu-btn-bar"></div>
					<div class="header-menu-btn-bar"></div>
				</div>
				<a href="/" class="header-logo">
					<img src="../img/header/logo-white.png" alt="logo">
				</a>

				<div class="header-menu">
					<div class="header-menu-wrapper">

						<div class="header-menu-lang-container">
							<div class="header-menu-lang">PL</div>
							<div class="header-menu-lang active">EN</div>
						</div>

						<ul class="header-menu-list">
							<li class="header-menu-item header-menu-item-drop active">O firmie
							<ul class="header-menu-dropdown">
								<li class="header-menu-dropdown-item">
									<a href="#">Metropolitan Investment</a>
								</li>
								<li class="header-menu-dropdown-item">
									<a href="#">Nasz zespół</a>
								</li>
								<li class="header-menu-dropdown-item">
									<a href="#">partnerzy</a>
								</li>
								<li class="header-menu-dropdown-item"><a href="#">kariera</a></li>
							</ul>
							</li>
							<li class="header-menu-item header-menu-item-drop">Oferta
							<ul class="header-menu-dropdown">
								<li class="header-menu-dropdown-item">
									<a href="#">Metropolitan Investment</a>
								</li>
								<li class="header-menu-dropdown-item">
									<a href="#">Nasz zespół</a>
								</li>
								<li class="header-menu-dropdown-item">
									<a href="#">partnerzy</a>
								</li>
								<li class="header-menu-dropdown-item"><a href="#">kariera</a></li>
							</ul></li>
							<li class="header-menu-item">Nasze inwestycje</li>
							<li class="header-menu-item">Bank wiedzy</li>
							<li class="header-menu-item">Klub inwestora</li>
							<li class="header-menu-item">Kontakt</li>
						</ul>

					</div>
				</div>
			</div>

			<div class="header-search">
				<div class="header-search-btn">
					<div class="header-search-btn-bar"></div>
					<div class="header-search-btn-bar"></div>
				</div>
				<form class="content">
					<input type="text" name="search" placeholder="Czego szukasz?">
					<button type="submit"></button>
				</form>
			</div>

			<div class="header-search-result">
				<ul class="content">
					<li>
						<p class="header-search-result-tag">BANK WIEDZY</p>
						<a href="#" class="header-search-result-name">Inwestowanie W Nieruchomości Komercyjne – Ekspansja Parków Handlowych</a>
						<a href="#" class="header-search-result-name">Gdański Harward – Nowa Inwestycja Metropolitan Investment</a>
					</li>
					<li>
						<p class="header-search-result-tag">Inwestycje</p>
						<a href="#" class="header-search-result-name">Metropolitan Park Wisła</a>
						<a href="#" class="header-search-result-name">Metropolitan Park Biała Podlaska</a>
					</li>
					<li>
						<p class="header-search-result-tag">BANK WIEDZY</p>
						<a href="#" class="header-search-result-name">Inwestowanie W Nieruchomości Komercyjne – Ekspansja Parków Handlowych</a>
						<a href="#" class="header-search-result-name">Gdański Harward – Nowa Inwestycja Metropolitan Investment</a>
					</li>
					<li>
						<p class="header-search-result-tag">Inwestycje</p>
						<a href="#" class="header-search-result-name">Metropolitan Park Wisła</a>
						<a href="#" class="header-search-result-name">Metropolitan Park Biała Podlaska</a>
					</li>
				</ul>
			</div>

			<div class="header-col-right">

				<div class="header-contact-search">
					<div class="header-contact-search-icon"></div>
				</div>
				<div class="header-contact-client">
					STREFA KLIENTA
				</div>
				<a href="#" class="header-contact-btn">
					<img src="../img/header/contact-icon.png" alt="contact us">
				</a>
				<div class="header-contact-us">
					Skontaktuj się z nami
				</div>
			</div>

		</div>
	</header>