//*
//* Font Mixins
//*

@mixin font($size: 1.8rem, $lheight: 3rem) {
	font-size: $size;
	line-height: $lheight;
}

@mixin ellip() {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}


//*
//* Dimensions Mixins
//*

@mixin block($w: 100%, $h: 100%) {
	display: block;
	width: $w;
	height: $h;
}

@mixin dims($w: 100%, $h: 100%) {
	width: $w;
	height: $h;
}

@mixin pos($pos: absolute, $w: 100%, $h: 100%) {
	position: $pos;
	width: $w;
	height: $h;
}

//*
//* Blocks
//*

@mixin scale($val) {
	transform: scale($val);
}