.kariera-oglos {

	.kariera-actual {

		&-svg-i {
			width: 50px;
			position: absolute;
			left: 10px;
			top: -100px;
		}

		&-tab {
			background-color: #f3f3f3;
		}

	}

	&-info {

		.content {
			max-width: 810px;
		}

		h3 {
			font-size: 24px;
			line-height: 29px;
			font-family: $GothamBold;
			text-transform: uppercase;
			margin-top: 7px;
		}

		h3.gold {
			text-align: left;
			margin-top: 35px;
			margin-bottom: 15px;
		}

		&-bold {
			text-align: left;
			font-size: 18px;
			line-height: 24px;
			font-family: $GothamBold;
			margin-top: 0;
			margin-bottom: 0;
		}

		&-light {
			text-align: left;
			font-size: 18px;
			line-height: 35px;
			font-family: $GothamLight;
			margin-top: 0;
			margin-bottom: 0;
		}

		&-city {
			text-align: center;
			font-size: 14px;
			font-family: $GothamBook;
			margin-bottom: 10px;
			margin-top: 50px;
		}

		&-name {
			text-align: center;
			font-size: 14px;
			font-family: $GothamBold;
			margin-top: 0;
			margin-bottom: 0;
		}

		ul {

			li {
				text-align: left;
				font-size: 18px;
				line-height: 35px;
				font-family: $GothamLight;
				padding-left: 25px;
				position: relative;
			}

			li:before {
				background-color: $gold;
				content: "";
				width: 7px;
				height: 7px;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				margin-top: -3.5px;
				left: 3px;
			}

		}

	}

	&-parallax {
		padding-top: 80px;
		padding-bottom: 200px;

		.content {
			&:after {
				display: block;
				visibility: hidden;
				content: '';
				clear: both;
			}
		}

		&-col {
			width: 49%;
			display: inline-block;
			position: relative;
			float: right;

			&:first-child {
				float: left;
			}
		}

		&-image {
			overflow: hidden;
			height: 360px;
			width: 720px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			& img {
				min-height: 100%;
				height: 100%;
				min-width: 100%;
				position: absolute;
				right: 50%;
				top: 50%;
				transform: translate(50%, -50%);
				display: block;
			}
		}

		&-block {
			background-color: #242f3a;
			display: inline-block;
			max-width: 540px;
			width: auto;
			text-align: left;
			padding: 15px 30px 40px 30px;
			position: relative;

			h3 {
				color: $gold;
				text-transform: uppercase;
				font-size: 24px;
				line-height: 29px;
				font-family: $GothamBold;
			}

			p {
				font-size: 18px;
				line-height: 35px;
				font-family: $GothamLight;
				color: white;
			}

		}

	}

}

@media (max-width: 1000px) {
	.kariera-oglos {

		&-parallax {
			padding-bottom: 0px;
			padding-top: 20px;

			&-image {
				position: relative;
				max-width: none;
				width: 100%;
			}

			&-block {
			}

			&-col {
				width: 100%;
				float: none !important;
				display: block;

				&:last-child {
					transform: translateY(-100px);
				}
			}

		}

	}
}

@media (max-width: 430px) {
	.kariera-oglos {
		padding-top: 0;

		&-parallax {

			&-block {
				padding: 10px 15px;
				margin-left: 10px;
				margin-right: 10px;

				h3 {
					font-size: 20px;
					margin-bottom: 10px;
				}

				p {
					font-size: 15px;
					line-height: 25px;
				}

			}

		}

		&-info {

			&-city {
				margin-top: 20px;
			}

			h3 {
				font-size: 18px;
				line-height: 26px;
			}

			&-bold, &-light, ul li {
				font-size: 14px;
				line-height: 23px;
			}
		}

		.kariera-actual {
			&-svg-i {
				width: 30px;
				top: -40px;
			}
		}

	}

}